header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background: transparent;
    transition: all 0.2s ease;
}

header.black {
    background-color: #000;
}

.header--logo {
    height: 23px;
    padding-right: 50px;
}

.header--logo img {
    height: 100%;
}

.header--user {
    height: 23px;
    width: 23px;
    background-color: darkorange;
}

.header--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-itensMenu {
    display: flex;
    align-items: center;
}

.header-itensMenu p {
    padding: 0 10px;
    margin: 0;
}

@media (max-width: 400px) {
    .header-itensMenu {
        visibility: hidden;
    }
    header {
        width: 100vw;
    }
    .header--user {
        height: 23px;
        width: 23px;
        background-color: darkorange;
        margin: 0 5vh;
    }
}